<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'common/common.html' %}
</head>
<body>
<nav class="nav" style="position: fixed; top: 0; height: 80px; width: 100%;">
  <div style="width: 100%;">
    <a class="navbar-brand" href="/" style="color: white; padding-left: 4%;">Finish' em! ^v^ </a>
    <button type="button" class="dropdown-toggle text-uppercase bg-primary text-white rounded"
            style="float: right; margin-right: 1rem; padding: 0.8rem;"
            id="dropdownMenuButton" data-toggle="dropdown">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/todo/add">Add a todo</a>
      <a class="dropdown-item" href="/stat">Statistics</a>
    </div>
  </div>
</nav>
</body>
</html>